.App {
    text-align: center;
}

#gameScreen {
    height: 700px;
    width: 700px;
    border: 1px solid blue;
}

.GameSelectorButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    float: left;
  }